# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [87]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from Config import api_key_g

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [88]:
city_df = pd.read_csv('../output_data/WeatherPy_data.csv')
city_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Juneau,90,US,1611646856,86,58.3019,-134.4197,-2.00,2.24
1,1,Dingle,85,PH,1611646743,72,10.9995,122.6711,27.66,4.88
2,2,Bengkulu,65,ID,1611646858,66,-3.8004,102.2655,27.55,2.95
3,3,Saint George,90,US,1611646725,80,37.1041,-113.5841,1.11,5.14
4,4,Butaritari,50,KI,1611646859,75,3.0707,172.7902,26.96,3.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [89]:
# Configure gmaps.
gmaps.configure(api_key = api_key_g)

In [90]:
# Convert to float and store
# Remove NaN values
city_df = city_df.dropna()

#Use the Lat and Lng as locations and Humidity as the weight.
locations = city_df[["Lat", "Lng"]].astype(float)
humidity = city_df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
    max_intensity=100, point_radius=4)

# Add layer
fig.add_layer(heat_layer)
fig

Map(configuration={'api_key': 'AIzaSyAGsN_XuHeTinBEMxw2TvbWazo6rIYO3dU'}, data_bounds=[(-48.24222077131089, -1…

In [91]:
city_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Juneau,90,US,1611646856,86,58.3019,-134.4197,-2.00,2.24
1,1,Dingle,85,PH,1611646743,72,10.9995,122.6711,27.66,4.88
2,2,Bengkulu,65,ID,1611646858,66,-3.8004,102.2655,27.55,2.95
3,3,Saint George,90,US,1611646725,80,37.1041,-113.5841,1.11,5.14
4,4,Butaritari,50,KI,1611646859,75,3.0707,172.7902,26.96,3.17

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [92]:
# IDEAL WEATHER CONDITIONS:
# A max temperature lower than 30 degrees celcius but higher than 20.
# Wind speed less than 10 km/h.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

ideal_city_weather_df = city_df.loc[city_df['Max Temp'] < 30]
ideal_city_weather_df = ideal_city_weather_df.loc[ideal_city_weather_df['Max Temp'] > 20]
ideal_city_weather_df = ideal_city_weather_df.loc[ideal_city_weather_df['Wind Speed'] < 10, :]
ideal_city_weather_df = ideal_city_weather_df.loc[ideal_city_weather_df['Cloudiness'] == 0, :]

ideal_city_weather_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
13,13,Cidreira,0,BR,1611646760,79,-30.1811,-50.2056,23.08,3.33
20,20,Mian Channu,0,PK,1611646870,17,30.4400,72.3543,23.22,1.51
24,24,Rikitea,0,PF,1611646872,67,-23.1203,-134.9692,26.49,5.74
37,37,Hong Kong,0,HK,1611646870,56,22.2855,114.1577,23.00,3.09
57,57,Port Alfred,0,ZA,1611646895,51,-33.5906,26.8910,26.91,4.71

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [93]:
# Store into variable named hotel_df
hotel_df = ideal_city_weather_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
13,13,Cidreira,0,BR,1611646760,79,-30.1811,-50.2056,23.08,3.33,
20,20,Mian Channu,0,PK,1611646870,17,30.4400,72.3543,23.22,1.51,
24,24,Rikitea,0,PF,1611646872,67,-23.1203,-134.9692,26.49,5.74,
37,37,Hong Kong,0,HK,1611646870,56,22.2855,114.1577,23.00,3.09,
57,57,Port Alfred,0,ZA,1611646895,51,-33.5906,26.8910,26.91,4.71,

In [94]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": api_key_g
}

for index, row in hotel_df.iterrows():
     # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # assemble url and make API request
    print(f"Retrieving Results for {row['City']}.")
    response = requests.get(url, params=params)
    # print(response)
    
    # extract results
    response = response.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Cidreira.
------------
Retrieving Results for Mian Channu.
------------
Retrieving Results for Rikitea.
------------
Retrieving Results for Hong Kong.
------------
Retrieving Results for Port Alfred.
------------
Retrieving Results for Port Elizabeth.
------------
Retrieving Results for East London.
------------
Retrieving Results for Sur.
------------
Retrieving Results for Kolāras.
------------
Retrieving Results for Tura.
------------
Retrieving Results for Mandera.
------------
Retrieving Results for Chui.
------------
Retrieving Results for Tezu.
------------
Retrieving Results for Kruisfontein.
------------
Retrieving Results for Jiazi.
------------
Retrieving Results for Geraldton.
------------
Retrieving Results for Beihai.
------------
Retrieving Results for São Filipe.
------------
Retrieving Results for Iracoubo.
------------
Retrieving Results for Whitianga.
------------
Retrieving Results for Pasni.
------------
Retrieving Results for Juazeiro.
------------
Retrieving Results for Departamento de Maldonado.
------------
Retrieving Results for Rio Grande.
------------
Retrieving Results for Moyale.
------------
Retrieving Results for Arlit.
------------
Retrieving Results for Saldanha.
------------
Retrieving Results for Acapulco de Juárez.
------------
Retrieving Results for Tairua.
------------
Retrieving Results for Katsina.
------------
Retrieving Results for Calamar.
------------
Retrieving Results for Jijiga.
------------
Retrieving Results for Ibrā’.
------------
Retrieving Results for Ormara.
------------
Retrieving Results for Māngrol.
------------
Retrieving Results for Puerto Limón.
------------
Retrieving Results for Boa Vista.
------------
Retrieving Results for Pisco.
------------
Retrieving Results for Madhupur.
------------

In [95]:
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
13,13,Cidreira,0,BR,1611646760,79,-30.1811,-50.2056,23.08,3.33,Hotel Castelo
20,20,Mian Channu,0,PK,1611646870,17,30.4400,72.3543,23.22,1.51,Nikay da hotel
24,24,Rikitea,0,PF,1611646872,67,-23.1203,-134.9692,26.49,5.74,Pension Maro'i
37,37,Hong Kong,0,HK,1611646870,56,22.2855,114.1577,23.00,3.09,Mini Hotel Central
57,57,Port Alfred,0,ZA,1611646895,51,-33.5906,26.8910,26.91,4.71,The Halyards Hotel
61,61,Port Elizabeth,0,ZA,1611646618,61,-33.9180,25.5701,25.00,7.20,39 On Nile Guest House
80,80,East London,0,ZA,1611646727,65,-33.0153,27.9116,27.00,2.06,Tu Casa
87,87,Sur,0,OM,1611646915,51,22.5667,59.5289,23.19,3.34,Sur Plaza Hotel
97,97,Kolāras,0,IN,1611646922,20,25.2333,77.6000,22.81,1.03,Shiv Shakti Garden (Gayatri Colony)
108,108,Tura,0,IN,1611646798,35,25.5198,90.2201,23.57,2.79,Hotel RIKMAN Continental
119,119,Mandera,0,KE,1611646936,37,3.9366,41.8670,29.32,5.23,Kornesh Hotel and Lodging
130,130,Chui,0,UY,1611646708,91,-33.6971,-53.4616,20.89,1.68,Nuevo Hotel Plaza
185,185,Tezu,0,IN,1611646978,22,27.9167,96.1667,25.56,1.65,Circuit House
187,187,Kruisfontein,0,ZA,1611646979,57,-34.0033,24.7314,27.78,2.24,Oyster Bay House Rental
197,197,Jiazi,0,CN,1611646985,57,22.8779,116.0670,21.18,4.54,Hotel Jin Hao
209,209,Geraldton,0,AU,1611646995,64,-28.7667,114.6000,22.73,8.91,Broadwater Mariner Resort
220,220,Beihai,0,CN,1611647002,66,21.4833,109.1000,21.53,1.92,21 Degree Hostel
222,222,São Filipe,0,CV,1611647003,67,14.8961,-24.4956,22.32,2.20,Tortuga B&B
227,227,Iracoubo,0,GF,1611647006,82,5.4802,-53.2011,24.86,5.92,Le Gite D Iracoubo
263,263,Whitianga,0,NZ,1611647030,79,-36.8333,175.7000,21.11,1.79,Beachside Resort Whitianga
284,284,Pasni,0,PK,1611647044,23,25.2631,63.4710,21.19,3.09,Kashmiri Hotal
315,315,Juazeiro,0,BR,1611647064,78,-9.4117,-40.4986,23.00,3.09,JB Hotel
320,320,Departamento de Maldonado,0,UY,1611646904,94,-34.6667,-54.9167,23.89,3.60,La Cimarrona
337,337,Rio Grande,0,BR,1611646794,95,-32.0350,-52.0986,23.33,2.95,Hotel Atlântico Rio Grande
344,344,Moyale,0,KE,1611647085,25,3.5167,39.0584,26.88,6.78,La Tahzan Guest House
376,376,Arlit,0,NE,1611647107,17,18.7369,7.3853,20.20,2.47,Case de Passage De la Prefecture
379,379,Saldanha,0,ZA,1611647109,60,-33.0117,17.9442,22.00,5.14,Blue Bay Lodge
387,387,Acapulco de Juárez,0,MX,1611646931,84,16.8634,-99.8901,23.26,1.57,HS Hotsson Smart Acapulco
398,398,Tairua,0,NZ,1611647123,72,-37.0167,175.8500,23.89,5.36,Pacific Harbour Villas
399,399,Katsina,0,NG,1611647123,18,12.9894,7.6006,21.31,6.49,Katsina Motel
407,407,Calamar,0,CO,1611647129,94,10.2511,-74.9146,24.00,2.06,Hostal Katyalex
432,432,Jijiga,0,ET,1611647144,14,9.3500,42.8000,24.78,5.78,RAMAAS HOTEL
472,472,Ibrā’,0,OM,1611647172,27,22.6906,58.5334,25.96,1.91,مزرعة راحة النفوس المنزفة
475,475,Ormara,0,PK,1611647174,26,25.2088,64.6357,21.18,3.30,Crystal Beach and Camping Resort Ormara
476,476,Māngrol,0,IN,1611647174,22,21.1167,70.1167,26.42,3.52,Hotel The Royal Honours
490,490,Puerto Limón,0,CR,1611647184,80,10.0000,-83.0333,23.41,2.54,Hotel Playa Bonita
498,498,Boa Vista,0,BR,1611647189,83,2.8197,-60.6733,23.00,2.57,Aipana Plaza Hotel
500,500,Pisco,0,PE,1611647190,78,-13.7000,-76.2167,21.00,2.06,Hotel San Isidro Oficial
509,509,Madhupur,0,IN,1611647197,22,24.2500,86.6500,25.38,4.38,Hotel Kumar International

In [96]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [97]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Map(configuration={'api_key': 'AIzaSyAGsN_XuHeTinBEMxw2TvbWazo6rIYO3dU'}, data_bounds=[(-49.57146833778862, -1…